<html lang="es" xmlns:th="http://thymeleaf.org">
<meta charset="utf-8">

<nav th:fragment="menu-principal"
	class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" th:href="@{/}">OnliReloj</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarsExampleDefault"
		aria-controls="navbarsExampleDefault" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>


	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active"><a class="nav-link" th:href="@{/}">Inicio<span
					class="sr-only">(current)</span></a></li>
			<li class="nav-item"><a class="nav-link" th:href="@{/catalogo}">Catálogo</a>
			</li>
			<li class="nav-item"><a class="nav-link"
				sec:authorize="hasAnyAuthority('USUARIO', 'ADMINISTRADOR')" th:href="@{/}">Historial</a>
			</li>
			<li class="nav-item"><a class="nav-link"
				sec:authorize="hasAnyAuthority('USUARIO', 'ADMINISTRADOR')"
				th:href="@{/usuario/edit/{}}">Modificar</a></li>
			<li class="nav-item dropdown"
				sec:authorize="hasAnyAuthority('ADMINISTRADOR')"><a
				class="nav-link dropdown-toggle" th:href="@{/admin/lista}"
				id="navbarDropdown" role="button" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="false"> Administrador </a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" th:href="@{/admin/lista}">Usuarios</a> <a
						class="dropdown-item" th:href="@{/relojes/create}">Nuevo</a> <a
						class="dropdown-item" th:href="@{/relojes/listado}">Relojes</a>
				</div></li>
		</ul>

		<div sec:authorize="isAnonymous()">
			<a class="btn btn-primary" th:href="@{/signup}">Registro</a>&nbsp; <a
				class="btn btn-primary" th:href="@{/login}">Autenticación</a>&nbsp;
		</div>

		<a class="btn btn-primary" sec:authorize="isAuthenticated()"
			th:href="@{/logout}">Salir</a>
	</div>
</nav>